
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/app.css">
</head>
<body data-type="generalComponents">
{include file="common/header"/}
{include file="common/left"/}
    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 修改部门
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <input type="hidden" class="form-control form-control-solid" placeholder="搜索...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal" id="my_form" method="post" action="{:url('department/upd')}">
                            <input type="hidden" name="id" value="{$departmentGet.id}">
                            <div class="am-form-group">
                                <label  class="am-u-sm-3 am-form-label"></label>
                                <div class="am-u-sm-9">
                                    <small id="state" style="color: #F7B824;font-size: 16px;"></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="s_card" class="am-u-sm-3 am-form-label">部门名称</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="name" id="s_card" placeholder="请输入部门名称" value="{$departmentGet.name}">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="submit" class="am-btn am-btn-primary" name="" value="修改部门">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/assets/js/jquery.min.js"></script>
    <script src="__STATIC__/assets/js/amazeui.min.js"></script>
    <script src="__STATIC__/assets/js/app.js"></script>
    <script src="__STATIC__/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            $("#my_form").validate({
                rules:{
                    name:{
                        required:true,
                        remote:{
                            data:{
                                id:function(){
                                    return $("input[name='id']").val();
                                }
                            },
                            url:"{:url('department/checkDepartmentAjax')}",
                            type:"post"
                        }
                    },
                },
                messages:{
                    name:{
                        required:"请输入部门名称",
                        remote:"该部门已存在"
                    }
                }
            })
        })
    </script>
</body>

</html>
