<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="请假管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/app.css">
</head>
<body data-type="generalComponents">

    {include file="common/header"/}

    {include file="common/left"/}


    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 休假总览
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <input type="hidden" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>
                </div>
                <div class="tpl-block">

                    <div class="am-g">

                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-id" style="display:none">ID</th>
                                            <th class="table-title">部门</th>
                                            <th class="table-type">总人数</th>
                                            <th>修满人数</th>
                                            <th>未修满人数</th>
                                            <th class="table-author am-hide-sm-only">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="list" id="vo"}
                                        <tr>
                                            <td>{$vo.name}</td>
                                            <td>{$vo.person_total}</td>
                                            <td>{$vo.person_count}</td>
                                            <td>{$vo.person_total-$vo.person_count}</td>
                                            <td class="am-hide-sm-only">
                                                <a href="{:url('person/lst',array('department_id'=>$vo.id))}" class="am-btn am-btn-success">查看</a>
                                                <a href="" class="am-btn am-btn-warning">修改</a>
                                                <a href="#" class="am-btn am-btn-danger">删除</a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                                <!--<div class="am-cf">-->

                                <!--<div class="am-fr">-->
                                <!--<ul class="am-pagination tpl-pagination">-->
                                <!--<li class="am-disabled"><a href="#">«</a></li>-->
                                <!--<li class="am-active"><a href="#">1</a></li>-->
                                <!--<li><a href="#">2</a></li>-->
                                <!--<li><a href="#">3</a></li>-->
                                <!--<li><a href="#">4</a></li>-->
                                <!--<li><a href="#">5</a></li>-->
                                <!--<li><a href="#">»</a></li>-->
                                <!--</ul>-->
                                <!--</div>-->
                                <!--</div>-->
                                <hr>

                            </form>
                        </div>

                    </div>
                    <br><br><br><br><br><br><br>
                </div>
                <div class="tpl-alert"></div>
            </div>


        </div>

    </div>


    <script src="__STATIC__/assets/js/jquery.min.js"></script>
    <script src="__STATIC__/assets/js/amazeui.min.js"></script>
    <script src="__STATIC__/assets/js/app.js"></script>
</body>

</html>
