<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/app.css">
</head>

<body data-type="generalComponents">
    {include file="common/header"/}

    {include file="common/left"/}
    <div class="tpl-content-wrapper">

        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 添加人员
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <input type="hidden" class="form-control form-control-solid" placeholder="搜索...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal" id="my_form" method="post" action="{:url('person/add')}">
                            <div class="am-form-group">
                                <label  class="am-u-sm-3 am-form-label"></label>
                                <div class="am-u-sm-9">
                                    <small id="state" style="color: #F7B824;font-size: 16px;"></small>
                                </div>

                            </div>
                            <div class="am-form-group">
                                <label for="s_card" class="am-u-sm-3 am-form-label">姓名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="name" id="s_card" placeholder="请输入姓名">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="s_g_id" class="am-u-sm-3 am-form-label">所属单位</label>
                                <div class="am-u-sm-9">
                                    <select class="am-input-sm am-radius" name="department_id">
                                        {volist name="departmentList" id="vo"}
                                        <option value="{$vo.id}">{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="s_username" class="am-u-sm-3 am-form-label">是否结婚</label>
                                <div class="am-u-sm-9">
                                    <input type="radio" name="is_marriage" value="1">是
                                    <input type="radio" name="is_marriage" value="0" checked>否
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="s_username" class="am-u-sm-3 am-form-label">是否串</label>
                                <div class="am-u-sm-9">
                                    <input type="radio" name="is_weekend" value="1">是
                                    <input type="radio" name="is_weekend" value="0" checked>否
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="total_vacation" class="am-u-sm-3 am-form-label">休假总天数</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="total_vacation" id="total_vacation" value="30" placeholder="请输入休假总天数">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="submit" class="am-btn am-btn-primary" name="" value="添加人员">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <script src="__STATIC__/assets/js/jquery.min.js"></script>
    <script src="__STATIC__/assets/js/amazeui.min.js"></script>
    <script src="__STATIC__/assets/js/app.js"></script>
    <script src="__STATIC__/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            $("#my_form").validate({
                rules:{
                    name:{
                        required:true,
                        remote:{
                            url:"{:url('person/checkPersonAjax')}",
                            type:"post"
                        }
                    },
                    total_vacation:{
                        required:true,
                    }
                },
                messages:{
                    name:{
                        required:"请输入人员姓名",
                        remote:"该人员已存在，请确认是否有重名情况"
                    },
                    total_vacation:{
                        required:"请输入休假总天数"
                    }
                }
            })
        })
    </script>

</body>

</html>
