
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="请假管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/app.css">
</head>
<body data-type="generalComponents">

    {include file="common/header"/}

    {include file="common/left"/}


    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 人员管理
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <input type="hidden" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>
                </div>
                <div class="tpl-block">

                    <div class="am-g">

                        <div class="am-u-sm-12">
                            <div class="am-btn-group">
                                <button class="am-btn am-btn-secondary">请选择单位</button>
                                <div class="am-dropdown" data-am-dropdown>
                                    <button class="am-btn am-btn-secondary am-dropdown-toggle" data-am-dropdown-toggle>
                                        <span class="am-icon-caret-down"></span>
                                    </button>
                                    <ul class="am-dropdown-content">
                                        {volist name="departmentAll" id="vo"}
                                        <li><a href="{:url('person/lst',array('department_id'=>$vo.id))}">{$vo.name}</a></li>
                                        {/volist}
                                    </ul>
                                </div>
                            </div>
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-id" style="display:none">ID</th>
                                            <th class="table-title">姓名</th>
                                            <th class="table-type">单位</th>
                                            <th>婚否</th>
                                            <th>串否</th>
                                            <th>总假期</th>
                                            <th>已完成</th>
                                            <th class="table-author am-hide-sm-only">休假情况</th>
                                            <th class="table-author am-hide-sm-only">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="departmentGet.person" id="vo"}
                                        <tr>

                                            <!-- <td>1</td> -->
                                            <td>{$vo.name}</td>
                                            <td>{$departmentGet.name}</td>
                                            <td>{$vo.is_marriage}</td>
                                            <td>{$vo.is_weekend}</td>
                                            <td>{$vo.total_vacation}</td>
                                            <td>{$vo.finished_vacation}</td>
                                            <td class="am-hide-sm-only">
                                                {volist name="$vo.vacation" id="vo1"}
                                                {$vo1.from_date|date="Y年m月d日"}至{$vo1.to_date|date="Y年m月d日"}</br>
                                                类型：{$vo1.type}&nbsp;&nbsp;&nbsp;
                                                状态：{$vo1.status}&nbsp;&nbsp;&nbsp;
                                                已完成：{$vo1.finished_day}天<br>
                                                <a class="am-btn am-btn-warning am-btn-sm" href="{:url('vacation/upd',array('id'=>$vo1.id))}">修改</a>
                                                <a class="am-btn am-btn-danger am-btn-sm">删除</a><hr>
                                                {/volist}
                                            </td>
                                            <td class="am-hide-sm-only">
                                                <a href="{:url('vacation/add',array('id'=>$vo.id))}" class="am-btn am-btn-success">添加假期</a>
                                                <a href="{:url('person/upd',array('id'=>$vo.id))}" class="am-btn am-btn-warning">修改</a>
                                                <a href="javascript:if(confirm('确认删除该人员的所有信息么？')) location='{:url('person/del',array('id'=>$vo.id))}'" class="am-btn am-btn-danger">删除</a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>

                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>


        </div>

    </div>


    <script src="__STATIC__/assets/js/jquery.min.js"></script>
    <script src="__STATIC__/assets/js/amazeui.min.js"></script>
    <script src="__STATIC__/assets/js/app.js"></script>
</body>

</html>
